@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&family=Quicksand&display=swap');


:root {
  --primary-color: #bedbc1;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #bedbc1 !important;
  color: #3d5b3d  !important;
}

h1{
  font-family: 'Playfair Display', serif !important;
  font-weight: 600 !important;
  font-size: 4em !important;
  padding: 0rem 1rem !important;
}

h2{
  font-family: 'Playfair Display', serif !important;
  font-size: 3em !important;
  padding: 0rem 1rem !important;
}

p {
  font-family: 'Quicksand', sans-serif;
}
.container {
  min-height: 90vh;
  position: relative;
  margin: 0 auto;
  padding: 0 1rem; 
}

#about{
  background-color: #d4bfd5;
  margin-left: 0;
  padding-top: 4em;
  padding-bottom: 4em;
  margin-left: 0;
  color:#333;
}

#about-img {
  border-radius: 50%;
}


#contact-img{
  border-radius: 50%;
  width: 60%;
}

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #fff;
  color: #77545d;
}

.btn-back {
  display: inline-block;
  background-color: #f4f4f4;
  color: #333;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 1.3rem;
}

.header {
  font-family:'Quicksand', sans-serif;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d5b3d ;
  color: #fff;
  padding: 1rem;
}

footer{
  padding: 1rem;
  text-align: center;
  color: white;
  background-color: #3d5b3d ;
}

.about-img{
  border-radius: 50%;
}

.home{
  display: flex;
}

.home-img{
  opacity: 70%;
  width: 50%;
}



.links a {
  margin: 0 5rem 0 5rem;
  color: #fff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
  color: #77545d;
}

footer{
  margin-top: auto;
}

.card {
  border: 1px solid #ccc;
  border-radius: 0px !important;
  padding: 1rem;
  margin: 1rem;

  background-color: #77545d !important;
  color: white;
}

.card h2 {
  font-size: 1.5rem;
  margin-top: 0;
}

.card .card-content {
  margin-top: 0rem !important;
}

.card .card-stats {
  display: flex;
  margin: 1rem 0;
}

.card .card-stat {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.card .card-stat svg {
  margin-right: 0.5rem;
}

.card .card-stat span {
  font-size: 0.9rem;
}

.caro-title{
  padding: 1em;
  background-color: #77545d;
  color:white;
  font-family: 'Quicksand', sans-serif;
}

.caro-text{
  padding: 2em;
  background-color: white;
  color:#333;
}


#gallery-title {
  text-align: center !important;
}

.btn-light{
  background-color: rgb(112, 111, 111) !important;

}

.btn-primary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #757576!important;
  --bs-btn-border-color: #757576!important;
  --bs-btn-hover-color: #fff!important;
  --bs-btn-hover-bg: #77545d!important;
  --bs-btn-hover-border-color: #303d4a !important;
  --bs-btn-focus-shadow-rgb: 89, 103, 117 !important;
  font-family: 'Quicksand', sans-serif !important;
  border-radius: 0 !important;
}


.btn-secondary {
  --bs-btn-color: black !important;
  --bs-btn-bg: #d0afb6 !important;
  --bs-btn-border-color: #7b8a8b;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #8f9c9c;
  --bs-btn-hover-border-color: #889697;
  font-family: 'Quicksand', sans-serif !important;
  border-radius: 0 !important;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}